<div *ngIf="isProduct" class="w-80 mb-8 product-card cursor-pointer">
  <img class="transition ease-in-out  duration-300  w-full h-80  hover:translate-y-2 rounded-sm"
    style="background-color: #f7f7f7;" src="{{productDetail.photo}}" alt="">
  <div class="flex justify-between align-middle mt-5 pt-5">
    <p> {{productDetail.name}}</p>
      <!-- <span>{{ productDetail.price | currency}}</span> -->

      <button *ngIf="addedProduct === undefined" data-hover="Add To Cart" class="hover:shadow-lg" (click)="addToCart(productDetail)" [attr.data-price]="productDetail.price | currency "></button>
      <button *ngIf="addedProduct !== undefined" data-hover="Go To Cart" class="hover:shadow-lg"  (click)="goToCart()" [attr.data-price]="addedProduct.price | currency "></button>
  </div>
</div>

<div *ngIf="!isProduct || isProduct === undefined" class="blog-card">
  <span class="blog-date bg-slate-50 ">{{blog.date | date:'d MMMM'}}</span>
  <div class="absolute left-0 top-0 bottom-0 right-0 -z-10  ">
    <img src="{{blog.photo}}" class="rounded-sm filter brightness-75   " alt="" />
  </div>
  <span class="absolute z-10 top-1/2  left-12">
    <a [routerLink]="['/blog', slugify(blog.title)]" [queryParams]="{id: blog.id}" class="text-white font-semibold text-xl text-wrap transition duration-300 ease-in-out hover:text-black ">{{blog.title}}</a>
  </span>
</div>
