<section class="lg:flex md:grid md:grid-cols-1 sm:grid-cols-1  align-middle justify-center gap-16   lg:w-2/3 md:w-full sm:w-full  lg:mx-auto   py-20">
  <div class="flex flex-col gap-5 md:mb:20">
    <h1 class="text-4xl">Contact Us</h1>
    <p class="font-light text-gray-500">Lorem ipsum dolor sit.</p>
    <div class="flex flex-col gap-4 text-gray-500">
      <div class="inline-flex gap-4">
        <span class="material-symbols-outlined">
          call
        </span>
        <p>555555</p>
      </div>
      <div class="inline-flex gap-4">
        <span class="material-symbols-outlined">
          mail
        </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>

      <div class="inline-flex gap-4">
        <span class="material-symbols-outlined">
          apartment
        </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>


    </div>
  </div>
  <form action="">
    <div class="grid grid-cols-1 w-full gap-7 place-items-start">
      <input type="text" placeholder="Fullname"
        class="w-full font-light  border-b focus:border-b-black border-red-200 focus:outline-none ">
      <input type="mail" name="" id="" placeholder="E-mail"
        class="w-full font-light  border-b focus:border-b-black border-red-200 focus:outline-none ">
      <textarea name="" id="" cols="30" rows="10"
        class="w-full font-light text-gray-400  border border-red-200 focus:border-black  p-5 overflow-y-hidden ">Message..</textarea>
      <button class="border border-red-200 py-2 px-8 bg-red-200 font-semibold rounded-sm text-gray-500">Send</button>
    </div>
  </form>
</section>
