<div class="bg-fixed relative bg-center  bg-cover bg-no-repeat h-4/5 "
  style="background-image: url('../../assets/images/sun-lotion-01.jpg');">

  <div class="absolute w-full top-full z-10" id="home-header">
    <app-header [displayAuth]="true"></app-header>
  </div>

  <div class="hidden w-full" id="home-header-2">
    <app-header [displayAuth]="true"></app-header>
  </div>


</div>
<div class="relative mt-10 pt-10">
  <div class="lg:flex lg:justify-center  p-20">
    <div class="lg:w-1/5">
      <img src="../../assets/images/lotion-01.jpg" alt="">
    </div>
    <div class="text-black lg:w-2/5  p-7 my-auto">
      <h2 class=" text-2xl pt-6">MILK</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis
        similique amet. Ut alias, libero molestiae cumque fugit doloribus
        exercitationem velit in fuga neque aperiam saepe recusandae dolore
        pariatur aspernatur sit, illum quas at. Cum libero voluptatum
        praesentium. Totam accusantium suscipit laborum itaque aut esse
        distinctio temporibus amet. Odit, quibusdam?
      </p>
      <br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At voluptatem veniam rem porro. Laudantium vitae
        autem sint sunt repudiandae iste.</p>
    </div>

  </div>
</div>


<app-carousel></app-carousel>

<app-product-list></app-product-list>

